body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

#container { /*might not need*/
    width: 100%;
    float: left;
}

#navbar {
    border-right: 1px solid black;
    top: 0px;
    left: 0px;
    width: 18.75rem; /*300px*/
    height: 100%;
    position: fixed;
    /*float: left;*/
    overflow: auto;
}

h1 {
    margin-left: 1.875rem; /*30px*/
}

.nav-link {
    display: block;
    text-decoration: none;
    /*text-align: left;*/
    margin-left: 1.875rem; /*30px*/
    margin-right: 1.875rem; /*30px*/
    /*padding-right: 1.25rem;*/ /*20px*/
}

.bottom-link {
    margin-bottom: 0.625rem; /*10px*/
}

a, a:visited {
    color: black;
}

#main-doc {
    margin-left: 18.75rem; /*300px*/
    padding-left: 1.875rem; /*30px*/
    padding-right: 1.875rem; /*30px*/
    padding-bottom: 3.125rem; /*50px*/
}

.icon-container {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.icon {
    display: none;
    font-size: 2.5rem; /*40px*/
    color: black;
    padding-left: 1.25rem; /*20px*/
}

pre {
    background-color: hsl(0, 0%, 96%);
    padding-left: 0.625rem; /*10px*/
}



#navbar .icon-container {
    /*border: 1px solid red;*/
    background-color: hsl(0, 0%, 32%);
    width: 80px;
    display: none;
    padding-bottom: 5px;
}




@media screen and (max-width: 823px) {
    #navbar {
        margin-left: -18.75rem; /*-300px*/
        transition: margin 0.5s;
        border-right: none;
        background-color: hsl(0, 0%, 32%);
    }

    #navbar a, #navbar header {
        display: block;
        /*float: none;*/
        /*text-align: left;*/
        color: hsl(0, 0%, 90%);
    }

    #main-doc {
        margin-left: 0px;
    }

    #main-doc a#icon-closed {
        display: block;
        float: left;
        margin: 1.063rem 0.3125rem 1.25rem; /*17px 5px 20px*/
    }

    #content-container {
        margin-top: 5.625rem; /*90px*/
    }
}

@media screen and (max-width: 823px) {
    #navbar.responsive {
        /*display: inline-block;*/
        /*background-color: hsl(0, 0%, 32%);*/
        transition: margin 0.5s;
        margin-left: 0px;
    }

    #navbar.responsive h1 {
        font-size: 1.2rem; /*20px*/
        margin-left: 5px;
    }

    #navbar.responsive #header-container {
        /*border: 1px solid red;*/
        background-color: hsl(0, 0%, 32%);
        width: 205px;
        position: fixed;
        font-size: 0.75rem; /*20px*/
        float: right;
        padding-top: 5px;
        /*padding-right: 1.875rem; /*30px*/
        display: flex;
        /*flex-direction: row;*/
        justify-content: center;
        align-items: center;
        margin-left: 80px;
        /*margin-right: 20px;*/
        height: 79px;
        /*display: flex;
        flex-direction: row;
        justify-content: center;*/
        /*margin-top: 5.625rem;*/ /*90px*/
    }

    #navbar.responsive #top-link {
        margin-top: 5.625rem; /*90px*/
    }

    #navbar.responsive .icon-container {
        display: inline-block;
        height: 79px;
    }

    #navbar.responsive #icon-open {
        margin-left: 0.3125rem; /*5px*/
        padding-left: 1.563rem; /*25px*/
        padding-top: 0.9375rem; /*15px*/
        color: hsl(0, 0%, 90%);
        float: left;
    }

    #main-doc.responsive #icon-closed {
        display: none;
    }

    /*Adjust anchor links for fixed header*/
    :target:before {
        content: "";
        display: block;
        height: 5.625rem; /*90px*/
        margin: -5.625rem 0 0; /*90px 0 0*/
    }
}

